<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uthaimin ninja</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Uthaimin</h1></a>
        <p>A Uthaimin Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/created">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        ecima. Eodem ninja ipsum nodo typi, nunc nobis videntur parum clari,
        fiant sollemas in ninja futurum
      </p>
      <p>
        ecima. Eodem ninja ipsum nodo typi, nunc nobis videntur parum clari,
        fiant sollemas in ninja futurum
      </p>
      <p>
        ecima. Eodem ninja ipsum nodo typi, nunc nobis videntur parum clari,
        fiant sollemas in ninja futurum
      </p>
    </div>
  </body>
</html>
